body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E6D7FF;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  background-color: #E6D7FF;
}